{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %}

  <!-- Three columns of text below the carousel -->
        <div class="row">   
            <div class="col-lg-4">
                <img src="https://cdn.discordapp.com/attachments/921330217153331201/993157663615635476/speedsoft_og_image_optimized.png" class="d-block w-100" alt="...">
                <h2>SpeedGame</h2>
                <p>Le speed game est, comme son nom l’indique, un type de partie qui se caractérise par son grand dynamisme et sa rapidité. Se jouant sur de petits terrains remplis d’obstacles, le speed game se déroule généralement en intérieur (CQB), même si rien ne s’oppose à des parties en extérieur, à condition de bien baliser le terrain pour forcer les joueurs à s’affronter en combat rapproché.  </p>
                {# <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> #}
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="https://cdn.discordapp.com/attachments/921330217153331201/993254107286622313/partie-airsoft-15-02-22.jpg" class="d-block w-100" alt="...">
                <h2>Immersion</h2>
                <p>La partie Milsim est une vraie simulation militaire. Elle est destinée généralement aux experts qui incarnent le rôle de militaires. L’équipement Airsoft utilisé est similaire à celui utilisé par de vrais militaires. Les joueurs incarnent entièrement le rôle du militaire en adoptant la même gestuelle.</p>
                {# <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> #}
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="https://cdn.discordapp.com/attachments/921330217153331201/1010899025563762778/shutterstock_1701604459.jpg" class="d-block w-100" alt="...">
                <h2>Cohésion d'équipe</h2>
                <p>Les adeptes d'airsoft sont amenés à jouer un rôle. Cependant, pour garder la motivation, il peut être intéressant d'en changer au cours de la partie, voire d'en inventer de nouveaux pour mettre un peu de piment dans vos parties. Il faut donc faire preuve de polyvalence.</p>
                {# <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> #}
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        {% for annonce in annonces %}
        {# je dois faire un bloc if pour afficher les annonces autoriser  #}


         {% if annonce.active == true %}  

        <div class="row g-0 bg-light position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="assets/upload/images/annonces/shutterstock_1701604459.jpg" class="w-100" alt="Images de l'équipe">
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                <h4 class="mt-0">{{ annonce.name }}</h4>
                <p>{{annonce.description | raw}}</p>
                {# <a href="#" class="stretched-link">Voir plus</a> #}
            </div>
        </div>

        {# <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ annonce.name }} <span class="text-muted"> </span></h2>
                <p class="lead">{{annonce.description | raw}}</p>
            </div>
            <div class="col-md-5">
            {# <img class="images-annonces" src="{{asset('\assets\upload\images\annonces' ~ annonce.images)}}"alt="Les images des annonces" > #}
            {# </div> #}
        {# </div> #}

        {% endif %}
        {% endfor %}
        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
{% endblock %}

