{% extends 'base.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block content %}
    <h1>Annonces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Active</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.name }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.image }}</td>
                <td>{{ annonce.active ? 'Yes' : 'No' }}</td>
                <td>{{ annonce.updatedAt ? annonce.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_poste_annonces_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_poste_annonces_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_poste_annonces_new') }}">Create new</a>
{% endblock %}
