{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block content %}
    <h1>Annonces</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ AnnoncesUser.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ AnnoncesUser.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ AnnoncesUser.description }}</td>
            </tr>
            <tr>
                <th>Active</th>
                {# <td>{{ AnnoncesUser.active ? 'Yes' : 'No' }}</td> #}
            </tr>
            <tr>
                <th>Mis à jour à</th>
                <td>{{ AnnoncesUser.updatedAt ? AnnoncesUser.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Créé à</th>
                <td>{{ AnnoncesUser.createdAt ? AnnoncesUser.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_poste_annonces_index') }}">retour à la liste</a>
    <BR/>
    <a href="{{ path('app_poste_annonces_edit', {'id': AnnoncesUser.id}) }}">Éditer</a>

    {{ include('poste_annonces/_delete_form.html.twig') }}
{% endblock %}
